# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Django
*.log
*.pot
*.pyc
/staticfiles/
MEDIA_ROOT/

# Env
.env
!.env.example
.venv/

# SQLite
*.sqlite3
/data/db.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
.docker/

# OS
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
.pytest_cache/
